.me-preference-item {
    display: flex;
    margin: 0.45em;
}

.me-preference-label-left {
    
    display : flex;
    align-self: center;
    margin-top : 5px;

}

.me_preference_label_right{
    margin-top: 8px;
    margin-left: 10px;
    align-self: center;
}
.me-preference-control-right {
    margin-left : 10px;
    align-self : center;
    margin-top: 5px;
}

.me-preference-group-title{
    margin: 0.45em ;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.color-picker-content{
    padding-top : 10px;
}

