#GeoLocCheck > table
{
    border:1px solid black;
}

td{
border:1px solid black;
width:200px;
}

#geoTable{
    margin-top: 10px;
    width:75%;
    position:absolute;
}

#accelerationTracker{
    position:fixed;
    left:80%;
    top:0;
    background-color:black;
    color:yellow;
    height:200px;
    width:200px;
}

#rotationTracker{
    position:fixed;
    left:80%;
    bottom:0%;
    background-color:red;
    height:100px;
    width:200px;
    color:yellow;
}

